.cart{
    display: flex;
    gap:20px;
    margin:20px;
    overflow-y: hidden;
}
.cart::-webkit-scrollbar{
    display: none;
}
.cart-left{
    background: white;
    padding:20px;
}
.cart-left h1{
    font-size:28px;
    font-weight:400;
    margin-bottom:15px;
}
.cart-left hr{
    border:none;
    height: 1px;
    background: #dadada;
}
.prod-cart-list{
    display: flex;
    align-items: start;
    gap:10px;
    padding:24px 0 12px 12px;
}
.prod-cart-titleprice{
  display: flex;
  gap:20px;
  font-size:18px;
}
.prod-cart-bestseller{
     font-size:13px;
     margin-top:10px;
}
.prod-cart-bestseller span{
    font-size:13px;
    background: #c45500;
    color:#fff;
    padding:3px 8px;
}
.prod-cart-stock{
    font-size:13px;
    color:#007600;
    margin:4px 0;
}
.prod-cart-delivery{
    font-size:15px;
}
.prod-cart-returns{
    font-size:15px;
    color:#007185;
    font-weight:400;
}
.prod-cart-giftoption{
    color:#494949;
    font-size:13px;
    margin:3px 0;
}
.prod-cart-giftoption span{
    color:#007185;
}
.prod-cart-specs{
    max-width:150px;
    display:grid;
    grid-template-columns: auto auto;
    row-gap:3px;
    font-size:13px;
    margin:7px 0;
}
.cart-list-action{
    display:flex;
    gap:12px;
    font-size:14px;
    color:#007185;
}
.cart-list-action hr{
    height:20px;
    width:1px;
    background:#cfcfcf;
}
.cart-list-action select{
    padding:5px;
    border-radius:6px;
    background:#f3f3f3;
    cursor:pointer;
}
.cart-list-subtotal{
    font-size:20px;
    text-align:right;
    margin-top:10px;
}
.cart-right{
    min-width:280px;
    background:white;
    padding:20px;
    max-height:220px;
}
.cart-free-delivery{
    display: flex;
    font-size:13px;
}
.cart-subtotal{
    margin-top:20px;
    font-size:18px;
    font-weight: 500;
}
.cart-right-gift{
   margin:7px 0;
   font-size: 14px; 
}
.cart-right button{
    width:100%;
    height:30px;
    margin: 15px 0;
    background:#ffd814;
    border:none;
    border-radius:8px;
    cursor: pointer;
}
.cart-right button:hover{
    background:#f7ca00;
}
.cart-footer{
    margin-top:50px;
}

/* media query */
@media only screen and (max-width:900px){
    .cart{
        flex-wrap:wrap;
    }
    .cart-right{
        min-width:100%;
    }
}
@media only screen and (max-width:600px){
    .prod-cart-list{
        padding:24px 0;
    }
    .prod-cart-list img{
        width:80px;
    }
    .prod-cart-titleprice{
        flex-wrap:wrap;
        font-size:14px;
    }
    .prod-cart-delivery{
        font-size:13px;
    }
    .cart-list-action .cart-list-action-link:nth-last-child(1){
        display:none;
    }
     .cart-list-action hr:nth-last-child(2){
        display:none;
    }
    .cart-list-action .cart-list-action-link:nth-last-child(3){
        display:none;
    }
    .cart-list-action hr:nth-last-child(4){
        display:none;
    }
    .cart-right{
        min-width:100%;
    }
}