body{
    background:white;
}
.breadcrum{
    padding:10px 20px;
    font-size:12px;
    color:#565656;
}
.product-display{
 min-height: 100%;
 padding:10px 20px;
 display:flex;
 overflow-y: hidden;
}
.product-display::-webkit-scrollbar{
    display: none;
}
.prod-d-img{
   display:flex;
   gap:10px;
}
.prod-icons{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.prod-icons img{
    border:1px solid gray;
    border-radius: 10px;
    padding:5px;
} 
.prod-d-detail{
    margin:0 30px;
}
.product-title{
     font-size:25px;
}
.brand-store{
    margin-top:5px;
    color:#007185;
    font-size:14px;
}
.brand-store{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.prod-rating{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.prod-rating div{
   display: flex;
   align-items: center;
   gap:10px;
}
.prod-rating p{
    color:#007185;
}
.prod-rating p span{
    color:#fff;
    background: #c73500;
    padding:2px 5px;
    border-radius: 3px;
    font-size: 14px;
}
.prod-rating h5{
   font-weight: 400;
}
.product-price{
    display:flex;
    flex-direction: column;
    gap:5px;
    color:black
}
.product-price div{
   display: flex;
   align-items: center;
   gap:10px;
   margin:10px 0;
}
.product-price div p{
    font-size: 26px;
    color:#c73500;
}
.product-price div h1{
    font-size: 14px;
    font-weight: 500;
}
.product-price div h1 span{
    font-size: 26px;
    font-weight: 500;
}
.product-price div h5{
    color:#565656;
    font-weight: 400;
}
.product-price h5 span{
    text-decoration: line-through;
}
.product-price p span{
     color:#007185;
}
.prod-col-sel{
    margin:15px 0;
}
.prod-col-opt{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}
.opt{
    display: flex;
    align-items: center;
    padding:8px 12px;
    border:1px solid #cbcbcb;
    gap:10px;
}
.product-info{
    display: grid;
    grid-template-columns: auto auto;
    max-width: 300px;
    margin-bottom: 15px;
}
.prod-description h1{
    font-size:20px;
    margin:15px 0;
}
.prod-description ul{
   display: flex;
    flex-direction: column;
    gap:10px;
    margin-left:30px;
}
.prod-d-purchase{
    width: 100%;
   max-width: 280px;
   border:1px solid #c1c1c1;
   border-radius: 10px;
   padding: 20px;
}
.prod-d-purchase .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prod-d-purchase .price{
    font-size:16px ;
    font-weight: 400;
    margin:10px 0;
}
.prod-d-purchase .price span{
    font-size: 26px;
    padding:2px;
}
.gap{
    margin: 15% 0;
}
.prod-d-purchase p span{
    color: #007185;
}
.dev-location{
    display: flex;
    align-items: center;
    gap:3px;
}
.prod-stock{
    margin: 15px 0;
    color:green;
    font-weight: 500;
}
.prod-quantity{
   padding:8px 5px;
   outline:none;
   width:100%;
   border-radius:5px;
   background:#efefef;
   border-color:#c1c1c1;
}
.btn{
    outline:none;
    border: none;
    background: #ffd814;
    width:100%;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.prod-buy{
     background-color: #ffa41c;
}
.prod-seller-info{
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto;
    gap:4px; 
    font-size:14px;
    color:#565656;
}
prod-seller-info span{
    color:#007185;
}
.prod-d-purchase hr{
     margin:20px 0;
}
.prod-add-list{
    width:100%;
    padding: 8px 15px;
    border-radius: 5px;
    border:1px solid black;
    text-align:start;
    background:white;
    cursor: pointer;
}
.prod-footer{
    margin-top:100px;
}

/* media query */
@media only screen and (max-width:900px){
     .product-display{
        flex-wrap:wrap;
     }
     .prod-d-purchase{
        max-width:90%;
        margin:20px auto 10px auto;
        height:auto;
    }
}
@media only screen and (max-width:600px){
    .prod-icons{
        display:none;
    }
    .prod-main-img img{
        width:100%;
        padding:20px;
    }
    .opt{
        padding:6px 8px;
    }
    .opt p{
        display:none;
    }
    .prod-d-purchase{
        max-width:90%;
        margin:20px auto 10px;
    }
}